#!/usr/bin/make -f

include /usr/share/rustc/architecture.mk

CARGO_BASE_ARGS = --release --target $(DEB_TARGET_RUST_TYPE)
BIN = --bin pay-respects

%:
	@dh $@

execute_before_dh_auto_configure:
	mkdir -p .cargo
	cp debian/cargo-config.toml .cargo/config.toml

override_dh_auto_build:
	cargo build $(CARGO_BASE_ARGS) $(BIN)
	cargo run $(CARGO_BASE_ARGS) $(BIN) -- --generate-man > debian/pay-respects.1

override_dh_auto_test:
	RUST_TEST_THREADS=1 cargo test $(CARGO_BASE_ARGS) -- --test-threads=1
